<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-center">
    <div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="container collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <div class="row">
          <div class="col-xl-2 col-sm-12 mt-2">
            <a class="navbar-brand fw-bold fs-3 text-primary" routerLink="/">E-Comm</a>
          </div>
          <div class="col-xl-5 col-sm-12">
            <form class="d-flex mt-2" *ngIf="menuType !== 'seller'">
              <input
                class="form-control me-2"
                type="search"
                #searchInput
                placeholder="Search For Products"
                aria-label="Search"
                (keyup)="searchProduct($event)" (blur)="hideSearch()"
              />
              <button class="btn btn-outline-success" (click)="submitSearch(searchInput.value)">
                Search
              </button>
            </form>
            
            <div class="serchedItems">
              <ul *ngIf="searchResult">
                <li *ngFor="let product of searchResult">
                  <a (mousedown)="redirectToDetails(product.id)">{{product.productName}}</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-xl-5 col-sm-12">

            <div [ngSwitch]="menuType">
            <ul *ngSwitchCase="'default'" class="navbar-nav mt-2 me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/seller-auth">Seller</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/user-auth">Login/Sign-Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cart({{cartItems}})</a>
              </li>
            </ul>
            
            <ul *ngSwitchCase="'user'" class="navbar-nav mt-2 me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="">Seller</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="user-auth">{{userName | titlecase}}</a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" routerLink="my-orders">Orders</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" (click)="userLogout()">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="cartItems>0?'cart-page':null" >Cart({{cartItems}})</a>
              </li>
              <!-- <li>
                <p>Welcome {{userName | titlecase}}</p>
              </li> -->
            </ul>
            <ul *ngSwitchCase="'seller'" class="navbar-nav mt-2 me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/seller-add-product">Add Product</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/seller-home">List</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">{{sellerName | titlecase}}</a>
              </li>
            </ul>

          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="userName" class="nameDiv">
  <p>Welcome {{userName | titlecase}}</p>
</div>