<ngb-carousel *ngIf="popularProduct">
	<ng-template *ngFor="let product of popularProduct" ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center">
			<a routerLink="/details/{{ product.id }}">	<img class="productImg" src="{{product.productImageUrl}}" alt="Random first slide" /> </a>
		</div>
		<div class="carousel-caption">
			<h3>{{product.productName}}</h3>
			<p>{{product.productDescription}}</p>
		</div>
	</ng-template>
</ngb-carousel>
<div class="mb-5"></div>
<div>
	<div class="row g-2">
		<div class="col-sm-3" *ngFor="let product of trendyProducts">
		  <div class="card">
			<div class="d-flex justify-content-center align-items-center p-2 mx-auto" style="width:200px;height:200px">
				<a routerLink="/details/{{ product.id }}">	<img src="{{product.productImageUrl}}" class="p-2 card-img-top" alt="..."> </a>
			</div>

			<div class="card-body border-top mt-2 text-center">
			  <p class="fs-5">{{product.productName}}</p>
			  <p class="card-text">Price : {{product.productPrice}}</p>
			  <p class="card-text">
				<a routerLink="/details/{{ product.id }}"> <button class="btn btn-link">View Details</button> </a>
				<button class="btn btn-link">Add To Cart</button>
			  </p>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="mt-5 mb-5"></div>